<?xml version="1.0"?>
<flex-config>
   <compiler locale="en_US" swf-version="15">
		<define>
			<name>CONFIG::desktop</name>
			<value>true</value>
		</define>
		<define>
			<name>CONFIG::browser</name>
			<value>false</value>
		</define>
	</compiler>
	<!--<metadata>
		<title>Yogurt3D</title>
		<description>http://www.yogurt3d.com</description>
		<publisher>Yogurt3D Engine Corp.</publisher>
		<creator>Yogurt3D Engine Corp.</creator>
		<language>EN</language>
   </metadata>-->
</flex-config>
